@import '../../config/colors.scss';

/********  Mixins ******/
@mixin headerFont {
    font-family: 'Open Sans', sans-serif;
}

@mixin textFont {
    font-family: "Roboto", sans-serif;
}


.projects-container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}


.title {
    @include headerFont();
}
.intro {
    width: 80%;
    padding-left: 3em;
    font-size: 23px;
    text-align: start;
}

.col {
    flex: 1;
    padding-top: 1em;
}