@import '../../config/colors.scss';

/********  Mixins ******/
@mixin headerFont {
    font-family: 'Open Sans', sans-serif;
}

@mixin textFont {
    font-family: "Roboto", sans-serif;
}


.projects-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.title {
    @include headerFont();
}
.intro {
    width: 80%;
    padding: 5% 0% 0% 3em;
}
.col {
    flex: 1;
}