@import '../../config/colors.scss';

/********  Mixins ******/
@mixin headerFont {
    font-family: 'Open Sans', sans-serif;
}

@mixin textFont {
    font-family: "Roboto", sans-serif;
}

.project {
    margin: 24px;
    align-items: flex-start;
}

.image {
    max-width: 400px;
}

.project a {
    text-decoration: none;
}

.project-title {
    @include headerFont();
    font-size: 22px;
    line-height: 20px;
    color: $black;
}

.project-category {
    @include textFont();
    color: $black;
}

.project:hover {
    .project-category, .project-title {
        color: $green;
        transition: 0.7s;
    }
}