@import '../../config/colors.scss';

/********  Mixins ******/
@mixin headerFont {
    font-family: 'Open Sans', sans-serif;
}

@mixin textFont {
    font-family: "Roboto", sans-serif;
}

.project {
    margin: 24px;
    align-items: flex-start;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    text-align: start;
}

.image {
    max-width: 480px;
    max-height: 370px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
}

.project a {
    text-decoration: none;
}

.project-title {
    @include headerFont();
    font-size: 22px;
    line-height: 20px;
    color: $black;
    padding-left: 4px;
}

.project-category {
    @include textFont();
    color: $black;
    padding-left: 4px;
}

.project:hover {
    transform: scale(1.1);
    transition: 0.7s;
    -webkit-transition: 0.7s;
    .project-category, .project-title {
        color: $green;
        transition: 0.7s;
        -webkit-transition: 0.7s;
    }
    .image {
        border-radius: 20px;
        transition: 0.7s;
        -webkit-transition: 0.7s;
    }
}